
<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>CS290 Project</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/flickity.css" media="screen">
 </head>
<body>
	<ul class="topMenu">
	  <li id='siteName'>Field Manager Demo</li>
	  <li><a href="home">Home</a></li>
	  <li><a href="create-field">Create Field</a></li>
	  <li><a href="browse-fields">Browse Fields</a></li>
	  <li><a href="about">About</a></li>
	</ul>

	{{{body}}}
</body>
</html>