
<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>CS290 Project - Field Manager Demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
 </head>
<body>
	<ul class="topMenu">
	  <li id='siteName'>Field Manager Demo</li>
	  <li><a href="/">Home</a></li>
	  <li><a href="create-field">Create Field</a></li>
	  <li><a href="browse-fields">Browse Fields</a></li>
	  <li><a href="about">About</a></li>
	  <li id='logOutPane'>
	  	<form method="post">
	  		<label for="logOut">{{name}}</label>
	  		<input id= "logOut" type="submit" name="End Session" value="End Session" visible='true'>
	  	</form></li>
	</ul>

	{{{body}}}

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>