<div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "autoPlay: true" }'>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
</div>
